body{
	--current-color: currentColor;
	--animation-time: 0.75s;
	background-color: #eee;
	transition: background-color var(--animation-time) ease;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
button{
	display: inline-block;
	color: var(--current-color);
	border: 2px solid var(--current-color);
	font-size: medium;
	border-radius: 3px;
	line-height: 1;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color var(--animation-time) ease,border-color var(--animation-time) ease,color var(--animation-time) ease;
}
a{
	text-decoration: none;
}
#container {
	width: 400px;
	height: 10px;
	/*overflow-x: hidden;*/
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #666666;
	/*align-items: center;*/
	display: inline-block;
}
#progress {
	width: 0%;
	text-align: center;
	height: inherit;
	box-sizing: border-box;
	border-radius: 10px;
	background: #c70c0c;
}
#circle {
	width: 14px;
	height: 14px;
	border-radius: 50%; 
	background: #FFF;
	position: relative;
	border: solid #000 0.5px;
	left: -8px;
	top: -12.5px;
	z-index: 1;
}
#cir{
	width: 6px;
	height: 6px;
	position: relative;
	left: 4px;
	top: 4px;
	border-radius: 50%; 
	background: #b9180f;
}